.display-flex{
    display: flex;
}

.container{
    align-content: center;
    width: 1500px;
    /* background-color: rgba(238, 238, 238, 0.5); */
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2017/06/07/10/47/elephant-2380009_1280.jpg);
}

.box{
    /* border: solid 1px black; */
    align-items: center;
    background-color: rgba(238, 238, 238, 0.5);
    padding: 20px;
    margin: 50px;
    width: 500px;
    height: 350px;
}

p{
    text-align: center;
}

